.syntax-tree {
  height: 100vh;
  overflow: auto;
  flex: 1 1 0px;
  font-size: var(--size-step-0);
  padding: 0.5em;

  details > :is(details, div) {
    margin-block: 0.5em;
    padding-inline: 1em;
  }
}
