@import './colors.scss';
@import './layout.scss';
@import './reset.scss';
@import './utilities.scss';
@import './blocks.scss';

:root {
  --color-light: var(--slate2);
  --color-dark: var(--slate12);

  --font-base: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1400,24,1.25,5,2,&s=,1.5|2|3|4|6, */

  --space-s: clamp(1rem, calc(0.85rem + 0.74vw), 1.5rem);
  --space-m: clamp(1.5rem, calc(1.28rem + 1.11vw), 2.25rem);
  --space-l: clamp(2rem, calc(1.7rem + 1.48vw), 3rem);
  --space-xl: clamp(3rem, calc(2.56rem + 2.22vw), 4.5rem);
  --space-2xl: clamp(4rem, calc(3.41rem + 2.96vw), 6rem);
  --space-3xl: clamp(6rem, calc(5.11rem + 4.44vw), 9rem);

  /* One-up pairs */
  --space-s-m: clamp(1rem, calc(0.63rem + 1.85vw), 2.25rem);
  --space-m-l: clamp(1.5rem, calc(1.06rem + 2.22vw), 3rem);
  --space-l-xl: clamp(2rem, calc(1.26rem + 3.7vw), 4.5rem);
  --space-xl-2xl: clamp(3rem, calc(2.11rem + 4.44vw), 6rem);
  --space-2xl-3xl: clamp(4rem, calc(2.52rem + 7.41vw), 9rem);

  --size-step--2: clamp(0.69rem, calc(0.64rem + 0.27vw), 0.88rem);
  --size-step--1: clamp(0.83rem, calc(0.71rem + 0.6vw), 1.24rem);
  --size-step-0: clamp(1rem, calc(0.78rem + 1.11vw), 1.75rem);
  --size-step-1: clamp(1.2rem, calc(0.82rem + 1.89vw), 2.47rem);
  --size-step-2: clamp(1.44rem, calc(0.83rem + 3.05vw), 3.5rem);
  --size-step-3: clamp(1.73rem, calc(0.77rem + 4.77vw), 4.95rem);
  --size-step-4: clamp(2.07rem, calc(0.62rem + 7.29vw), 7rem);
  --size-step-5: clamp(2.49rem, calc(0.29rem + 10.97vw), 9.89rem);

  @media (prefers-color-scheme: dark) {
    color: var(--slateDark);
  }
}

:root {
  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
}

body {
  color: var(--color-dark);
  background: var(--color-light);
  font-size: var(--size-step-1);
  font-family: var(--font-base);
  line-height: 1.6;
  letter-spacing: var(--tracking);
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  letter-spacing: var(--tracking-s);
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

h4 {
  font-size: var(--size-step-2);
}

h1,
h2,
h3 {
  max-width: 20ch;
}

p,
li,
blockquote:not([class]) {
  max-width: 50ch;
}

blockquote:not([class]) {
  font-family: var(--font-serif);
  font-size: var(--size-step-2);

  p:last-of-type {
    font-family: var(--font-base);
    font-size: var(--size-step-1);
    font-weight: normal;
  }
}

svg {
  height: 2ex;
  width: auto;
  flex: none;
}

a {
  color: currentColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[href*='with-heart.xyz'] {
    color: var(--color-dark-accent);
    font-weight: 600;
  }
}

:focus {
  outline: 2px solid;
  outline-offset: 0.3ch;
}

:target {
  scroll-margin-block-start: 2ex;
}

[role='list'] {
  padding: 0;
}

details {
  & summary {
    cursor: pointer;
    user-select: none;

    & > * {
      user-select: none;
      display: inline;
    }
  }
}
