.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.region {
  padding-block: var(--region-space, var(--space-l-2xl));
}

.wrapper {
  max-width: var(--wrapper-max-width, 85rem);
  margin-inline: auto;
  padding-inline: var(--gutter);
  position: relative;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.min-h-screen {
  min-height: 100vh;
}

.text-center {
  text-align: center;
}
