.tree {
  padding: 0.5em;

  summary {
    padding-block: 0.15em;
    padding-inline: 0.25em;
  }

  details > :is(details, div) {
    padding-inline-start: 1em;
    border-inline-start-width: 1px;
  }
}
